@import "tailwindcss";

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

ul,
li {
  list-style: none;
}
