@import "tailwindcss";

@source "../../../../packages/ui/src/**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 1.1em !important;
}

h2 {
  font-size: 1.05em !important;
}

h3 {
  font-size: 1em !important;
}
